.d-none {
  display: none;
}

.form-group {
  margin-bottom: 20px;
}

.formio-component-html,
.col-form-label {
  color: #000;
  font-family: 'RO Sans', Calibri, sans-serif;
  margin: 0;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 400;
  letter-spacing: normal;
  display: block;
}

.col-form-label {
  margin-bottom: 8px;
}

.form-control {
  color: #000;
  font-family: 'RO Sans', Calibri, sans-serif;
  margin: 0;
  font-size: 1rem;
  line-height: 1.375;
  letter-spacing: normal;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  height: 46px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  padding: 12px;
  width: 100%;
}

label.form-check-label {
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 10px;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  position: relative;
  width: 100%;
  z-index: 10;
}

label.form-check-label:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #f3f3f3;
  z-index: -1;
}

.form-check {
  margin-bottom: 8px;
}
input[type='radio'] {
  transform: scale(1.5);
  margin: 8px 10px;
}

.btn {
  font-family: 'RO Sans', Calibri, sans-serif;
  margin: 0;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 400;
  letter-spacing: normal;
  box-sizing: border-box;
  color: #000;
  background-color: #fff;
  border-color: transparent #e6e6e6 #e6e6e6 transparent;
  border-style: solid;
  border-width: 2px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  text-decoration: none;
  float: left;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--denhaag-button-primary-action-background-color);
  color: var(--denhaag-button-primary-action-color);
  border-color: var(--amsterdam-button-primary-action-background-color);
}

.formio-component-submit {
  float: right;
}

/* BOOTSTRAP OVERRIDES */

.col-md-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-md-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-sm-12 {
  width: 100%;
}

fieldset {
  padding: 0;
  border: none;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.input-group-append,
.input-group-prepend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
}

.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

/* FORMIO OVERRIDES */
.formio-component-file .row {
  display: flex;
}

.formio-component-file ul {
  padding-inline-start: 0;
  margin: 0;
}

.formio-component-file li {
  list-style: none;
}

.formio-component-file .list-group {
  margin-top: 8px;
}

.has-error {
  box-sizing: border-box;
  border-left: 4px solid var(--amsterdam-button-primary-action-background-color);
  padding-left: 16px;
}

.form-text.error {
  font-family: 'RO Sans', Calibri, sans-serif;
  margin: 0;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 700;
  letter-spacing: normal;
  color: var(--amsterdam-button-primary-action-background-color);
}

.btn[disabled] {
  cursor: not-allowed;
  filter: saturate(0);
  opacity: 0.5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.formio-form nav {
  float: right;
}

.formio-form nav li {
  position: relative;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  border-left: 2px solid #767676;
}

.formio-form nav li:last-child {
  padding-bottom: 0;
}

.formio-form nav li span:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f3f3f3;
  content: '';
  -webkit-transform: translateX(calc(-50% - 1px));
  transform: translateX(calc(-50% - 1px));
}

.formio-form nav li.active span:before {
  background-color: var(--amsterdam-button-primary-action-background-color);
}

.formio-wizard-nav-container {
  display: flex;
  justify-content: space-between;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-warning {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-info {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert.alert-danger {
  display: none;
}
